body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #8c00ff, #00c6ff);
}

.Feed {
    background-color: #222;
    margin: 10px 50vh;

    padding: 20px;
    border-radius: 10px;
}

header {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    position: relative;
    height: 4vh;
    border-radius: 10px;
    padding-bottom: 1cm;
    width: 90%;
}

nav {
    display: flex;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 1cm;
    width: 100%;
    border: none;

}

.ul {
    width: 90%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.ul .li {
    display: inline-block
}

.ul {
    align-items: center;
    background-image: linear-gradient(144deg, #00DDEB, #5B42F3 50%, #AF40FF );
    border: 0;
    border-radius: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    height: 80px;
}

.ul active,
.ul:hover {
    outline: 0;
}

.ul span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    height: 100%;
    transition: 300ms;
}

.ul:hover span {
    background: none;
}

@media (min-width: 0) {
    .ul {
        font-size: 24px;
        min-width: 160px;
    }
}

.ul {
    border: none;
}

.radio {
    display: none;
}

.imgNav {
    width: 50px;
    height: 50px;
    opacity: 80%;
    cursor: pointer;
    padding: 13px 20px;
    transition: 0.2s;
}

button:hover {
    opacity: 100%;
}

.li:hover {
    transition: 0.1s;
    color: #8c00ff;
    position: relative;
    margin-top: -4px;
}

.checked+.li .imgNav {
    color: #00c6ff;
    fill-rule: evenodd;
}

h2 {
    color: white;
    margin-bottom: 10px;
}

.formulario {
    position: relative;
    display: flex;
    align-items: flex-start;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    color: #8c00ff;
    font-size: 20px;
    line-height: 30px;
}


form input {
    border: 1px solid #8c00ff;
    padding: 8px 14px;
    border-radius: 8px;
    width: 90%;
}

form select {
    border: 1px solid #8c00ff;
    padding: 8px 14px;
    border-radius: 8px;
    width: 90%;
}


form button {
    align-self: flex-end;
    padding: 8px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: #00c6ff;
    color: #fff;
    cursor: pointer;
}

.aceptar:hover {
    background: #8c00ff;
}

.izq {
    grid-column-start: 1;
    grid-column-end: 2;
}

.der {
    grid-column-start: 2;
    grid-column-end: 3;
}

.center {
    margin-top: 25px;
    grid-column-start: 1;
    grid-column-end: 3;
}