/* 
    Created on : 28 oct 2024, 11:59:23 p.m.
    Author     : jesus
*/
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #8c00ff, #00c6ff);
    text-align: center;
}

.Feed {
    background-color: #222;
    margin: 0px 50vh;
    overflow: hidden;
    padding: 20px;
    border-radius: 10px;
    height: auto;
}

/* barra de navegación*/
header {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    position: relative;
    height: 4vh;
    border-radius: 10px;
    padding-bottom: 1cm;
    width: 90%;
}

nav {
    display: flex;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 1cm;
    width: 100%;
    border: none;

}

.ul {
    width: 90%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.ul .li {
    display: inline-block
}

.ul {
    align-items: center;
    background-image: linear-gradient(144deg, #00DDEB, #5B42F3 50%, #AF40FF);
    border: 0;
    border-radius: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    height: 80px;
}

.ul active,
.ul:hover {
    outline: 0;
}

.ul span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    height: 100%;
    transition: 300ms;
}

.ul:hover span {
    background: none;
}

@media (min-width: 0) {
    .ul {
        font-size: 24px;
        min-width: 160px;
    }
}

.ul {
    border: none;
}

.radio {
    display: none;
}

.imgNav {
    width: 50px;
    height: 50px;
    opacity: 80%;
    cursor: pointer;
    padding: 13px 20px;
    transition: 0.2s;
}

button:hover {
    opacity: 100%;
}

.li:hover {
    transition: 0.1s;
    color: #8c00ff;
    position: relative;
    margin-top: -4px;
}

.checked+.li .imgNav {
    color: #00c6ff;
    fill-rule: evenodd;
}


h2 {
    color: white;
    margin-bottom: 10px;
}

/* Secciones */
.seccion {

    display: block;
    padding: 20px;
    border-radius: 10px;
    white-space: nowrap;
    box-shadow: inset 0 0 20px #ffffff42;
    overflow: hidden;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* scroll hacia a un abajo*/
.resena {

    display: grid;
    grid-template-columns: 80% 10% 10%;
    grid-template-rows: 20% 80%;
    background-color: rgb(214, 212, 212);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 95%;
    height: 400px;
    flex: 1;
    margin-top: 15px;
    overflow: hidden;
}


.titulo-resena {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

.tipo,
.nombre,
.titulo {
    grid-column-start: 1;
    grid-column-end: 2;
    color: #222;
}

.fecha {

    grid-column-start: 2;
    grid-column-end: 3;
    color: #222;
}

.texto-resena {
    margin-top: 90px;
    padding-right: 15px;
    margin-right: 15px;
    margin-left: 10px;
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    overflow-y: auto;

}

.texto-resena2 {
    margin-top: 40px;
    padding-right: 15px;
    margin-right: 15px;
    margin-left: 10px;
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    overflow-y: auto;
}

.imagen-resena {

    grid-column-start: 2;
    grid-column-end: 4;
    flex: 3;
    display: flex;
    font-size: 12px;
    color: #555;
    width: 100px;
    border-radius: 10px;
    margin-left: 6px;
    overflow: hidden;
    border-radius: 15px;
    margin-top: 120px;
}

.comentar {
    width: 120px;
    height: 40px;
    margin-top: 70px;
    border-radius: 20pc;
    background-color: goldenrod;
    color: #222;
    font-weight: 700;
}

.comentar:hover {

    background-color: rgb(184, 43, 43);
    color: #ffffff;
}

.comentar2 {

    width: 120px;
    height: 40px;
    margin-top: 70px;
    border-radius: 20pc;
    background-color: goldenrod;
    color: #222;
    font-weight: 700;
}

.comentar2:hover {

    background-color: rgb(184, 43, 43);
    color: #ffffff;
}

.id {
    background-color: rgb(214, 212, 212);
    border: none;
    color: rgb(214, 212, 212);
}

.comentario {

    width: 85%;
    margin-left: 10%;
}

.comentarioDecomentario {
    width: 70%;
    margin-left: 25%;
}