body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #8c00ff, #00c6ff);
}

.Feed{
    background-color: #222;
    margin: 10px 50vh;

    padding: 20px;
    border-radius: 10px;
}

/*navegacion*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    position: relative; 
    height: 4vh;
    border-radius: 10px;
    padding-bottom: 1cm;
    width: 95.7%;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #8c00ff, #00c6ff);
}

.Feed {
    background-color: #222;
    margin: 10px 50vh;

    padding: 20px;
    border-radius: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    position: relative;
    height: 4vh;
    border-radius: 10px;
    padding-bottom: 1cm;
    width: 95.7%;
}

button{
    border: none;
}

.seccion,
.resenas-recientes {

    padding: 20px;
    border-radius: 10px;
    white-space: nowrap;
    box-shadow: inset 0 0 20px #ffffff42;
}

.seccion {

    display: flex;
    overflow-x: scroll;
}

.resenas-recientes {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 230px;
}


h2 {
    color: white;
    margin-bottom: 10px;
}

.contenedor-series {
    display: flex;
    gap: 10px;
}

.serie {
    background-color: #f0f0f0;
    width: 100px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.serie .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 14px;
    color: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.serie-img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
}


.serie:hover .serie-img {
    filter: blur(3px);
}

.serie:hover .info {
    opacity: 1;
}

.resena {

    display: grid;
    grid-template-columns: 80% 10% 10%;
    grid-template-rows: 20% 80%;
    background-color: rgb(214, 212, 212);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 95%;
    flex: 1;
    margin-bottom: 15px;
}


.titulo-resena {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
}


.texto-resena {
    padding-right: 15px;
    margin-right: 15px;
    margin-left: 10px;
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    overflow-y: scroll;

}


.imagen-resena {

    grid-column-start: 2;
    grid-column-end: 4;
    flex: 3;
    display: flex;
    font-size: 12px;
    color: #555;
    width: 100px;
    height: 150px;
    border-radius: 10px;
    margin-left: 6px;
    overflow: hidden;
    border-radius: 15px;
}


nav {
    display: flex;
    height: 60px;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 1cm;
    width: 100%;
    border: none;

}

.ul {
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.ul .li {
    display: inline-block;
    background: none;
    border: none;
}

.radio {
    display: none;
}

.imgNav {
    width: 50px;
    height: 50px;
    opacity: 80%;
    cursor: pointer;
    padding: 13px 20px;
    transition: 0.2s;
}

.li:hover {
    transition: 0.1s;
    color: #8c00ff;
    position: relative;
    margin-top: -4px;
    opacity: 100%;
}



.checked+.li .imgNav {
    color: #00c6ff;
    fill-rule: evenodd;
}
  
/* Título */
h2 {
    text-align: center;
    color: #00c6ff;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Formulario */

label{
    color: #00c6ff;
}

.botones {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #555;
}

.agregar-btn {
    background-color: #00c6ff;
}

.agregar-btn:hover {
    background-color: #0054b4;
}

.mod-btn {
   
    background-color: #e9d4fa;
    color: #222;
}

.mod-btn:hover {
    background-color: #d4ecfa;
}

.ele-btn {
    background-color: #8c00ff;
}

.ele-btn:hover {
    background-color: #400074;
}

.agregar-btn:active, .ele-btn:active , .mod-btn:active{

    background-color: goldenrod;
}


.gestionar-serie label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.gestionar-serie input,
.gestionar-serie select,
.gestionar-serie textarea {
    width: 97%;
    padding: 10px;
    border: 1px solid #8c00ff;
    border-radius: 5px;
    background-color: #333;
    color: white;
    margin-bottom: 15px;
}

.gestionar-serie select{
    width: 100%;
}

.form-btn button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-guardar {
    background-color: #00c6ff;
}

.btn-guardar:hover {
    background-color: #8c00ff;
}

.btn-limpiar {
    background-color: #8c00ff;
}

.btn-limpiar:hover {
    background-color: #00c6ff;
}