<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>LogInController</servlet-name>
        <servlet-class>controladoInicioSesion.LogInController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogInController</servlet-name>
        <url-pattern>/LogInController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FeedController</servlet-name>
        <servlet-class>controladorFeed.FeedController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FeedController</servlet-name>
        <url-pattern>/FeedController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InicioRController</servlet-name>
        <servlet-class>controladorFeed.InicioRController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioRController</servlet-name>
        <url-pattern>/InicioRController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserRController</servlet-name>
        <servlet-class>controladorFeed.UserRController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRController</servlet-name>
        <url-pattern>/UserRController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>gestionPerfilController</servlet-name>
        <servlet-class>controladorGestionPerfil.gestionPerfilController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>gestionPerfilController</servlet-name>
        <url-pattern>/gestionPerfilController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GestionSerieController</servlet-name>
        <servlet-class>controladorGestionSerie.GestionSerieController</servlet-class>
        <servlet>
            <servlet-name>gestionPerfilController</servlet-name>
            <servlet-class>controladorGestionPerfil.gestionPerfilController</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>gestionPerfilController</servlet-name>
            <url-pattern>/gestionPerfilController</url-pattern>
        </servlet-mapping>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestionSerieController</servlet-name>
        <url-pattern>/GestionSerieController</url-pattern>
        <servlet>
            <servlet-name>gestionPerfilController</servlet-name>
            <servlet-class>controladorGestionPerfil.gestionPerfilController</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>gestionPerfilController</servlet-name>
            <url-pattern>/gestionPerfilController</url-pattern>
        </servlet-mapping>
    </servlet-mapping>
    <servlet>
        <servlet-name>controladorPerfil</servlet-name>
        <servlet-class>controladorGestionPerfil.gestionPerfilRController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controladorPerfil</servlet-name>
        <url-pattern>/controladorPerfil</url-pattern>
    </servlet-mapping>
</web-app>
