<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    
    <servlet>
        <servlet-name>GestionSerieController</servlet-name>
        <servlet-class>controladorGestionSerie.GestionSerieController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestionSerieController</servlet-name>
        <url-pattern>/GestionSerieController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LogInController</servlet-name>
        <servlet-class>controladoInicioSesion.LogInController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogInController</servlet-name>
        <url-pattern>/LogInController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controladorRegistro.RegisterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
